extends layout
block content
	include header
	div.public_layout
		div.wrapper
			div.tiger
			img(src='images/about2.jpg').the_pic
			div.about_nav
				a.about1.about_link(href='/about1') 企业简介
				a.about2.cur.about_link(href='/about2') 品牌由来
				a.about3.about_link(href='/about3') 产品特色
				a.about4.about_link(href='/about4') 产品标准
			div.content_area
				h3.zong 品牌由来：
				p.zong 公司研发团队在产品研发会议时一直在深究探讨，为何当下国人一说到薯条只能想起肯德基、麦当劳薯条？难道还吃不腻？后来经过市场调查发现，不是吃不腻，而是没其他可选！所以经过长期消费者喜好调查确认，在中国目前每10个人当中有7个表示喜欢吃土豆喜欢吃薯条制品，因此我们决定改变目前薯条市场，颠覆传统工艺， 产品只要好吃有特色不需要华丽的包装夸张的言语这就是超级大薯条的作风。我们钻研于土豆，致力于开发最好吃的薯条制品，每位加盟商最需要的就是经验的指导，而在粮金美誉超级大薯条®加盟总部，我们拥有不一样的薯条，不一样的品种，不一样的经营模式，不一样的支持，不一样的服务，要经营就要和别人不一样，这样才叫特色，属于薯条革命的新时代来啦！大，大一点，再大一点！比大拇指还大的超级大薯条强势席卷地球！新一代升级版超级大薯条火爆登陆！
				br
				img.about2_pic(src='images/about2_2.jpg')
		div.trees


	include footer