extends layout
block content
	include header
	div.public_layout
		div.wrapper
			div.tiger
			img(src='images/about3.jpg').the_pic
			div.about_nav
				a.about1.about_link(href='/about1') 企业简介
				a.about2.about_link(href='/about2') 品牌由来
				a.about3.cur.about_link(href='/about3') 产品特色
				a.about4.about_link(href='/about4') 产品标准
			div.content_area
				h3.zong 产品特色：
				p.zong 超级大薯条根根金黄酥脆，每一根堪比大拇指还大，绝对跟肯德基、麦当劳的细薯条不一样。马铃薯（通称土豆），我们比喻它为“地下苹果”，因为它饱含了丰富的营养成分为我们人体每日所需，抗战时期军队勇士们也是全靠了这些土豆才能填报肚子打胜战而如今我们的生活越来越好，民以食为天，大家讲究吃，如何吃得饱、吃得好，吃就变成了一门艺术！粮金美誉超级大薯条®只用源自北美非转基因土豆经过全方位仪器检测确保土豆的水分、密度、大小，色泽后才进入全程自动化生产线，经过多道严谨工序将其去皮清洗除去杂质后先搅成土豆泥后冷冻冷却后再用我司独家研发的专业切割设备切成规则的根根比大拇指还大的薯条制品后再将外皮附上一层特殊的表层工艺，使薯条在炸制后酥脆可口。我们的薯条均采用环保密封的独立包装直接从北美进口国内，独家工艺，独家垄断，独家供应，市场上绝无同类产品，绝不怕被模仿，绝无法被超越！
		div.trees

	include footer