extends layout
block content
	include header
	div.public_layout
		div.wrapper
				div.tiger
				div.join_nav
					a.join1.cur.join_link(href='/news') 联系我们
				div.content_area
					div#l-map
		div.trees
	script(type="text/javascript",src="http://api.map.baidu.com/api?v=2.0&ak=sqK0y3qDpMc6RL0OFcARCiRH")
	script.
		var sContent =
		'<div style="margin:0;line-height:1.8;font-size:14px;color:#626776;">'+
			'<p style="color:#f00; font-weight:bold;">★超级大薯条加盟总部★</p>'+
			'<p>全国免费热线400-112-6696,021-34681161,021-62834187</p>'+
			'<p>地址：上海市普陀区金沙江路1340弄</p>'+
			'<p>曹阳高新技术经济发展园区B11 超级大薯条加盟总部</p>'+
		'</div>';
		var map = new BMap.Map("l-map");
		var point = new BMap.Point(121.393896,31.23982);
		map.centerAndZoom(point, 15);
		var infoWindow = new BMap.InfoWindow(sContent);
		var marker = new BMap.Marker(point);

		map.addOverlay(marker);
		map.openInfoWindow(infoWindow,point); 
	include footer
