div.footer
	div.wrapper
		div.content
			span.con_txt 中国国务院备案号沪ICP13011423  版权所有@上海博庭投资管理服务中心
			span.con_txt 全国免费热线  400-112-6696   021-34681159 021-34681161
			span.con_txt 地址：上海市普陀区金沙江路1340弄  曹阳高新技术经济发展园区B11
		div.v_pic