div.header
	div.wrapper
		img.logo(src='/images/logo.png')
		div.lights
		div.social_box
			a.weibo_link
			a.weixin_link
			img.qrCode(src='/images/qrCode.jpg')
		ul.nav
			li
				a.menu_link.cur(href='/') 首页
			li
				a.menu_link(href='/index') 系列产品
			li
				a.menu_link(href='/join1') 招商加盟
			li
				a.menu_link(href='/news') 最新资讯
			li
				a.menu_link(href='/about1') 关于我们
			li
				a.menu_link(href='/contact') 联系我们