extends layout
block content
	include header
	div.public_layout
		div.wrapper
			div.tiger
			div.join_nav
				a.join1.join_link(href='/join1') 加盟模式
				a.join2.join_link(href='/join2') 加盟优势
				a.join3.join_link(href='/join3') 加盟流程
				a.join4.join_link(href='/join4') 加盟费用
				a.join5.cur.join_link(href='/join5') 加盟条件
				a.join6.join_link(href='/join6') 品牌VI
				a.join7.join_link(href='/join7') 常见问题
			div.content_area
				img.content_img(src='/images/join5.jpg')
		div.trees

	include footer