doctype html
html
  head
    title= title
    meta
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/#{pageName}.css')
    script(type='text/javascript',src='/javascripts/jquery.min.js')
    script(type='text/javascript',src='/javascripts/#{pageName}.js')
  body
    block content