extends layout
block content
	include header
	div.public_layout
		div.wrapper
				div.tiger
				div.join_nav
					a.join1.cur.join_link(href='/news') 最新资讯
				div.content_area
					ul.news_list
						li
							div.news_wrapper
								img.news_image(src='/images/news_image.jpg')
								div.content
									h3.title 粮金美誉超级大薯条®加盟总部是全国美食潮流的领航者，也是全国餐饮微型创业的龙头
									p.text 公司具有全方位运营体系，在美食之都上海成立全国研发中心，第一时间搜罗世界各地美食资讯，并通过我们资深团队加以研发改良，运用丰富的品牌运营经验大幅提升了品牌价值！总部在中国上海设有加盟办事处针对国内市场进行深耕，在海外香港及加拿大设有分公司，进行海外市场的布局与经营，并与国内外知名食品厂家达成常年良好合作关系，力求将超级大薯条品牌覆盖风靡全球。
										a.more 【查看详情】
						li
							div.news_wrapper
								img.news_image(src='/images/news_image.jpg')
								div.content
									h3.title 粮金美誉超级大薯条®加盟总部是全国美食潮流的领航者，也是全国餐饮微型创业的龙头
									p.text 公司具有全方位运营体系，在美食之都上海成立全国研发中心，第一时间搜罗世界各地美食资讯，并通过我们资深团队加以研发改良，运用丰富的品牌运营经验大幅提升了品牌价值！总部在中国上海设有加盟办事处针对国内市场进行深耕，在海外香港及加拿大设有分公司，进行海外市场的布局与经营，并与国内外知名食品厂家达成常年良好合作关系，力求将超级大薯条品牌覆盖风靡全球。
										a.more 【查看详情】
						li
							div.news_wrapper
								img.news_image(src='/images/news_image.jpg')
								div.content
									h3.title 粮金美誉超级大薯条®加盟总部是全国美食潮流的领航者，也是全国餐饮微型创业的龙头
									p.text 公司具有全方位运营体系，在美食之都上海成立全国研发中心，第一时间搜罗世界各地美食资讯，并通过我们资深团队加以研发改良，运用丰富的品牌运营经验大幅提升了品牌价值！总部在中国上海设有加盟办事处针对国内市场进行深耕，在海外香港及加拿大设有分公司，进行海外市场的布局与经营，并与国内外知名食品厂家达成常年良好合作关系，力求将超级大薯条品牌覆盖风靡全球。
										a.more 【查看详情】
						li
							div.news_wrapper
								img.news_image(src='/images/news_image.jpg')
								div.content
									h3.title 粮金美誉超级大薯条®加盟总部是全国美食潮流的领航者，也是全国餐饮微型创业的龙头
									p.text 公司具有全方位运营体系，在美食之都上海成立全国研发中心，第一时间搜罗世界各地美食资讯，并通过我们资深团队加以研发改良，运用丰富的品牌运营经验大幅提升了品牌价值！总部在中国上海设有加盟办事处针对国内市场进行深耕，在海外香港及加拿大设有分公司，进行海外市场的布局与经营，并与国内外知名食品厂家达成常年良好合作关系，力求将超级大薯条品牌覆盖风靡全球。
										a.more 【查看详情】
					div.pages
						a.pageNext(href='/news/1') 上一页
						a.page1.cur(href='/news/1') 1
						a.page2(href='/news/2') 2
						a.page3(href='/news/3') 3
						a.page4(href='/news/4') 4
						a.page5(href='/news/5') 5
						a.page6(href='/news/6') 6
						a.page7(href='/news/7') 7
						a.pageNext(href='/news/8') 下一页
			div.trees
	include footer